NEXT_PUBLIC_APP_HOST=<str>
NEXT_PUBLIC_API_URL=<str>
NEXT_PUBLIC_GOOGLE_MAPS_KEY=<str>
NEXT_PUBLIC_DEMO_MODE_ENABLED=<true|false>
NEXT_PUBLIC_DEMO_USERNAME=<str>
NEXT_PUBLIC_DEMO_PASSWORD=<str>

CYPRESS_TEST_USERNAME=<str>
CYPRESS_TEST_PASSWORD=<str>